
/* ********************** navbar *************** */
*{
    
}
.top_div{
    width: 100%;
    height: inherit;
    background-image: url('../imgs/bgimg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nav_logo{
    width: 180px;
    height: 65px;
}
.nav-link, .navbar-toggler{
    text-decoration: none;
    text-transform: uppercase;
    font-weight:900;
}
#hamburger{    
    outline: none;
    border:none;
}
.navbar-nav > li{
    font-family: 'Josefin Sans', sans-serif;
    padding-left:20px;
    padding-right:20px;
    line-height: 40px;
}


#btnID1,#btnID2,#btnID3{
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    color: white;
    border: none;
    background-color:rgba(0, 89, 255, 0.645);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    
    
}

/* ************************************************ */

.button_row{
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: right;
    padding-top: 50px;


    width: 95%;
    /* padding-left: 70px; */
    
}
.appointment_btn{
    margin:8px 30px;
}
.logout_btn{
    margin:8px 0px;
}
 .statusbtn button{
    /* border:0ch; */
    border-radius: 5px;
    background-color:rgb(124, 233, 121);
    border:none
}
.container{
    width: 100%;
    height: inherit;
  
}
.row{
    display: flex;
    justify-content: center ;
    /* text-align: center; */
    width: 100%;
    height: inherit;
    margin-top:100px;
    
    /* padding: 0 10px; */
}
#div_table{
    overflow-x: scroll;
}
#div_table tbody tr .table_cell_scroll{
    width: 10px;
    overflow-x: scroll;

    background: aquamarine;
}
.clickable{
    cursor: pointer;   
}

/* ******************* footer ****************** */
footer{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 50px;
    background-color: rgb(25, 24, 58) ;
    color:white;
    /* #c7f5f0  rgb(25, 24, 58) */
}
#address{
    font-size: 13px;
    color: rgb(189, 189, 189);
}

.mainfooter{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        /* margin-left: 50px; */
        /* margin-right: 50px; */
        padding:50px;
}
.mainfooter div ul li {
    list-style-type: none;
    text-align: justify;
    margin-top: 5px;
    
}
.mainfooter div ul li a{
    color: rgb(189, 189, 189);
    text-decoration: none;
    font-size: 0.8rem;

}
.mainfooter div ul li h4{
    color: rgb(255, 255, 255);
    font-size: medium;
}
@media (max-width: 766px){
    .top_arrow{
        text-align: right;
    }
    .foot1, .foot2, .foot3, .foot4{
          padding-top: 25px;
    }
}